<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="https://cmm0051.cmm.ki.se/" exactDestination="true" />
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
